<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <menuitem id="menu_hospital" name="HMS"/>
    <menuitem id="menu_hospital_patient" name="patient" action="action_hospital_patient" parent="menu_hospital"
              sequence="20" groups="hospital_management.group_patient"/>
    <menuitem id="menu_hospital_doctor" name="doctor" action="action_hospital_doctor" parent="menu_hospital"
              sequence="30"/>
    <menuitem id="menu_reporting" name="Reporting" parent="menu_hospital"
              sequence="40"/>
    <menuitem id="menu_patient_report" name="Patient pdf Report" parent="menu_reporting"
              sequence="10" action="action_hospital_patient_wizard"/>

</odoo>